
.key-term{
    font-style: italic;
    color: purple;
}
.key-term-definition{
    font-style: bold;
    color: purple;
}

h1, h2, h3, .h3, h4, .h4, h5, .h6 {
    color:red;
}

a{
    color:#a64ca6;
}

footer{
    margin-bottom: 50px;
}

.font-tecko {
    font-family: 'Teko', sans-serif;
}

.casadaro-labs{
    color: red;
    font-size: 1.5rem;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Content-Wrapper{
    width: 40%;
    margin: auto;
}

nav a {
    padding: 10px;
}


#pie {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    z-index: 9999;
    columns: black;
    font-style: none;
  }

#pie a {
    color: black;
    text-decoration: none;
    font-style: none;
}

a.no-cursor-change {
    cursor: default;
  }